/* Estilos para o container principal */
.calculadora {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
  }
  
  /* Estilos para os campos de entrada e seleção */
  .calculadora input[type="number"],
  .calculadora select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  /* Estilos para o botão de calcular */
  .calculadora button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  /* Estilos para o resultado */
  .calculadora #resultado {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Estilos para o label do resultado */
  .calculadora label[for="resultado"] {
    font-weight: bold;
    margin-top: 10px;
    display: block;
  }
  